<!DOCTYPE html>
<html lang="ru-ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="container-fluid text-center p-0 m-0">
        <div class="row " style="box-sizing: border-box;">
            <header class="justify-content-end position-fixed d-flex sidebar header z-2 ">
                    @Html.Partial("_LoginPartial")
            </header>
        </div>

        <div class="row">
            <div class="col-2 p-0 ">
                <div class="col-2 p-0 sidebar position-fixed h-100 z-2">
                    <div class="flex-row p-3 logo fs-3">Royal Palace Inn</div>
                    <br />
                    <br />
                    <div class="flex-row p-3 @(ViewBag.ActiveTab == "bookings" ? "active" :"")  ">
                        @Html.ActionLink("Бронирования","Index","Home")
                    </div>
                    <div class="flex-row p-3 @(ViewBag.ActiveTab == "clients" ? "active" :"")">
                        @Html.ActionLink("Клиенты", "Clients", "Home")
                    </div>
                    <div class="flex-row p-3 @(ViewBag.ActiveTab == "services" ? "active" :"")">
                        @Html.ActionLink("Услуги", "Services", "Home")
                    </div>
                    <div class="flex-row p-3 @(ViewBag.ActiveTab == "discount" ? "active" :"")">
                        @Html.ActionLink("Скидки", "Discount", "Home")
                    </div>
                    <div class="flex-row p-3 @(ViewBag.ActiveTab == "rooms" ? "active" :"")">
                        @Html.ActionLink("Номера", "Rooms", "Home")
                    </div>
                </div>
            </div>
            <div class="col-10">
                
                    <div class="content container-fluid p-0">
                        @RenderBody()
                    </div>
                
            </div>
        </div>

    </div>


</body>
</html>
