@{
    ViewBag.Title = "Бронирования";
}




@Html.Partial("_PartialToast")

<div class="modal fade " id="servicesModal" tabindex="-1" aria-labelledby="servicesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="servicesModalLabel">Услуги бронирования</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Цена</th>
                            <th>Состояние</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tbody id="servicesList"></tbody>
                </table>
                <hr />
                <label for="availableServices">Добавить услугу:</label>
                <select id="availableServices" class="form-select">
                    <!-- Заполняется из JavaScript -->
                </select>
                <div class="modal-footer">
                    <button id="addServiceButton" class="btn btn-success mt-2 ">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h1>Бронирования</h1>
<div class="row pt-3 z-0">
    <div class="col-6 btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio1">Сегодня</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">За неделю</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">За месяц</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio4">За год</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio5">За всё время</label>
    </div>
</div>

<section class="row w-100 pt-4 pb-4 d-flex">
    <div class="col-6">
        <div class="input-group">
            <input type="search" class="form-control" id="searchInput" placeholder="Найти" aria-label="Search" aria-describedby="search-addon">
        </div>
    </div>
    <button type="button" class="btn btn-primary col-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
        Добавить
    </button>
    <button id="deliteButton" onclick="deliteSelected()" type="button" class="btn btn-danger col-2 ms-3">
        Удалить
    </button>

</section>



<!--Модальное окно -->
<div class="modal fade " id="exampleModalCenter" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-model="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Добавление нового бронирования</h1>
            </div>
            <form id="reservForm">
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col">
                            <input type="text" id="clientInput" autocomplete="off" class="form-control" placeholder="Клиент" aria-label="Client" required>
                            <ul class="dropdown-menu mt-1 dropdown-menu-right" id="autocompleteList">
                                <li><button class="new-client-btn btn btn-outline-primary">Добавить клиента</button></li>
                            </ul>
                        </div>

                    </div>
                    <div class="row g-3 mt-3 mb-3">
                        <div class="col">
                            <select class="form-select" aria-label="room type" id="roomTypeFilter">
                                <option selected>Тип комнаты</option>
                                @foreach (var roomType in ViewBag.RoomTypes)
                                {
                                    <option value="@roomType">@roomType</option>
                                }
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-select" aria-label="room capacity" id="roomCapsFilter">
                                <option selected>Вместимость комнат</option>
                                @foreach (var el in ViewBag.Caps)
                                {
                                    <option value="@el">@el</option>

                                }
                            </select>
                        </div>
                    </div>
                    <div class="row g-3 mt-3 mb-3">
                        <div class="col form-outline">
                            <label class="form-label" for="roomInput">Номер</label>
                            <input class="form-control" id="roomInput" type="number" placeholder="Номер" required readonly>
                        </div>
                        <div class="col form-outline">
                            <label class="form-label" for="checkInDateinput">Дата заезда</label>
                            <input class="form-control"
                                   id="checkInDateinput"
                                   type="text"
                                   value="-"
                                   aria-label="checkindate"
                                   required
                                   readonly />
                        </div>
                        <div class="col form-outline">
                            <label class="form-label" for="checkOutDateinput">Дата выезда</label>
                            <input class="form-control"
                                   id="checkOutDateinput"
                                   type="text"
                                   value="-"
                                   aria-label="checkoutdate"
                                   required
                                   readonly />
                        </div>

                    </div>
                    <div class="row g-3 mt-3 ">
                        <table id="roomsTable" class=" cell-border" width="100%">
                            <thead>
                                <tr>

                                    <th rowspan="2">Тип</th>
                                    <th rowspan="2">Вместимость</th>
                                    <th rowspan="2">Номер</th>

                                </tr>

                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-label">Орентировочная стоимость: <span id="resPrice">0</span></div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>

        </div>
    </div>
</div>

<table class="order-column row-border hover" id="customersTable">
    <thead>
        <tr>
            <th class="text-center" width="30">ID</th>
            <th class="text-center" width="300">Клиент</th>
            <th class="text-center" width="150">Номер</th>
            <th class="text-center" width="100">Тип</th>
            <th class="text-center" width="150">Вместимость</th>
            <th class="text-center" width="150">Стоимость</th>
            <th class="text-center">Администратор</th>
            <th class="text-center" width="120">Дата<br />заселения</th>
            <th class="text-center" width="120">Дата<br />выселения</th>
            <th class="text-center" width="120">Услуги</th>
            <th class="d-none">CreatedDate</th>
        </tr>
    </thead>
    <tbody class="">
        <!-- Таблица будет заполнена данными из Ajax-запроса -->
    </tbody>
</table>

</main>
@section scripts {
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/fc-4.3.0/fh-3.4.0/sc-2.2.0/sl-1.7.0/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.6/fc-4.3.0/fh-3.4.0/sc-2.2.0/sl-1.7.0/datatables.min.js"></script>

    <script src="https://cdn.datatables.net/v/dt/dt-1.13.6/fc-4.3.0/fh-3.4.0/sc-2.2.0/sl-1.7.0/datatables.min.js"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/sl-1.7.0/datatables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/b-2.4.1/sc-2.2.0/sl-1.7.0/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.6/b-2.4.1/sc-2.2.0/sl-1.7.0/datatables.min.js"></script>

    <script>
        let url = '@Url.Action("GetReservations", "Home")'
        let urlCreateClient = '@Url.Action("CreateReservation", "Home")'
        let urlDelite = '@Url.Action("DeleteReservation","Home")'+'/'
        let scrollYcur = 500
        let scrollYrooms = 350
        let dtColumns = [
            { data: 'Id' },
            {
                data: null,
                render: function (data, type, row) {
                    return `${data.Customer.Surname} ${data.Customer.Name} ${data.Customer.Lastname}`;
                }
            },
            {
                data: null,
                render: function (data, type, row) {
                    return `${data.Room.Id}`;
                }
            },
            {
                data: null,
                render: function (data, type, row) {
                    return `${data.Room.Type}`;
                }
            },
            {
                data: null,
                render: function (data, type, row) {
                    return `${data.Room.Capacity}`;
                }

            },

            {
                data: null,
                render: function (data, type, row) {
                    return `${data.FullPrice}`;
                }

            },
            {
                data: null,
                render: function (data, type, row) {
                    return data.Admin.Email;
                } },


            {
                data: 'CheckInDate',
                render: function (data, type, row) {
                    return data.split('T')[0];
                }
            },
            {
                data: 'CheckOutDate',
                render: function (data, type, row) {
                    return data.split('T')[0];
                }
            },
            {
                data: null,
                orderable: false,
                render: function (data, type, row) {
                    return `
                    <button type="button" class="btn btn-primary manage-services"
                            data-id="${row.Id}"
                            data-bs-toggle="modal"
                            data-bs-target="#servicesModal">
                        Управление услугами
                    </button>`;
                }
            },
            {
                data: null,
                render: function (data, type, row) {
                    return `<span class="hidden-column">${data.CreatedDate}</span>`;
                }
}
        ]

        let formdata = {
            CustomerId: "",
            RoomId: "",
            AdminId: "@ViewBag.CurrentUserId",
            DiscountId: "",
            CheckInDate: "",
            CheckOutDate: "",
    };
        const rooms = JSON.parse('@Html.Raw(ViewBag.Rooms)');
        const pricing = JSON.parse('@Html.Raw(ViewBag.Pricing)');
        const clients = JSON.parse('@Html.Raw(ViewBag.Clients)');
        const discounts = JSON.parse('@Html.Raw(ViewBag.Discounts)');






    </script>
    @Scripts.Render("~/Scripts/datatable.js")
    @Scripts.Render("~/Scripts/services.js")
    @Scripts.Render("~/Scripts/autocomplite.js")
    @Scripts.Render("~/Scripts/roomsTable.js")

}